@page "/reservation/{reservationId}/edit"

@using Blanche.Domain.Reservations
@using Blanche.Shared.Reservations;
@using Blanche.Shared.Formulas
@using Blanche.Shared.Products
@using MudBlazor;
  
<MudPaper>
    <MudCardContent>
        <MudContainer>
            @if (Reservation != null)
            {
                <MudForm EditContext="EditContext" OnValidSubmit="SaveChanges">

                    <MudText Typo="Typo.h6">Reservatie</MudText>
                    <MudSpacer />
                    <MudGrid>
                        <MudItem xs="2" md="4">
                            <MudSelect Label="Status" @bind-Value="Reservation.State">
                                @foreach (ReservationState state in Enum.GetValues(typeof(ReservationState)))
                                {
                                    <MudSelectItem Value="@state">@state</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem s="2" md="8"></MudItem>

                        <MudItem s="2" md="8">
                            <MudSelect T="FormulaDto.Index" Label="Formule" Placeholder="Kies je formule" @bind-Value="Reservation.Formula"
                                       Class="mt-10 mb-10" AnchorOrigin="Origin.BottomCenter" For="@(() => Reservation.Formula)">
                            @foreach (var item in formulas)
                            {
                                <MudSelectItem Value="@item">@(item.Name + " " + "(" + item.Description + ")")</MudSelectItem>
                            }
                        </MudSelect>
                        </MudItem>
                        <MudItem s="2" md="4">
                            <MudRadioGroup @bind-SelectedOption="Reservation.TypeOfBeer" T="BeerDto"
                                           Class="mb-5">
                                @foreach (var beer in beers)
                                {
                                    <MudRadio TValue="string" Option="@beer">@beer.Name</MudRadio>
                                }

                            </MudRadioGroup>
                        </MudItem>
                         
                        <MudItem xs="2" md="3">
                            <MudTextField Label="Number of Persons" @bind-Value="Reservation.NumberOfPersons" Variant="Variant.Filled" />
                        </MudItem>
                        <MudItem xs="2" md="3">
                            <MudTextField Label="Total Price" @bind-Value="Reservation.TotalPrice" Variant="Variant.Filled" />
                        </MudItem>
                        <MudItem xs="2" md="6"></MudItem>
                        <MudItem xs="2" md="12">
                            <MudTextField T="string" Label="Notes" Variant="Variant.Text" @bind-Value="Reservation.Notes" Lines="10" />
                        </MudItem>
                        
                    </MudGrid>
                    <br />
                    <MudText Typo="Typo.h6">Datum</MudText>
                    <MudGrid>
                        <MudSpacer />
                        <MudItem xs="5" md="6">
                            <MudTextField Label="Start Date" @bind-Value="Reservation.StartDate" Variant="Variant.Filled" />
                        </MudItem>
                        <MudItem xs="5" md="6">
                            <MudTextField Label="End Date" @bind-Value="Reservation.EndDate" Variant="Variant.Filled" />
                        </MudItem>
                    </MudGrid>

                    <br />
                    <MudText Typo="Typo.h6">Gegevens klant</MudText>
                    <MudSpacer />
                    <MudGrid>
                        <MudItem xs="6" md="6">
                            <MudTextField ReadOnly=true Label="Voornaam" @bind-Value="Reservation.Customer.FirstName" Variant="Variant.Filled" />
                        </MudItem>
                        <MudItem xs="6" md="6">
                            <MudTextField ReadOnly=true Label="Naam" @bind-Value="Reservation.Customer.LastName" Variant="Variant.Filled" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField ReadOnly=true Label="Email" @bind-Value="Reservation.Customer.Email.Value" Variant="Variant.Filled" />
                        </MudItem>
                    </MudGrid>
                    <br />
                    <MudText Typo="Typo.h6">Adres klant</MudText>
                    <MudSpacer />
                    <MudGrid>
                        <MudItem xs="10" md="6">
                            <MudTextField ReadOnly=true Label="Straat" @bind-Value="Reservation.Customer.CustomerAddress.Street" Variant="Variant.Filled" />
                        </MudItem>
                        <MudItem xs="2" md="6">
                            <MudTextField ReadOnly=true Label="Nummer" @bind-Value="Reservation.Customer.CustomerAddress.Number" Variant="Variant.Filled" />
                        </MudItem>
                        <MudItem xs="6" md="6">
                            <MudTextField ReadOnly=true Label="Stad" @bind-Value="Reservation.Customer.CustomerAddress.City" Variant="Variant.Filled" />
                        </MudItem>
                        <MudItem xs="6" md="6">
                            <MudTextField ReadOnly=true Label="Postcode" @bind-Value="Reservation.Customer.CustomerAddress.PostalCode" Variant="Variant.Filled" />
                        </MudItem>
                    </MudGrid>
                    <br />
                    @if (Reservation.Items.Any())
                    {
                        <MudItem xs="12" md="6">
                            <MudText Typo="Typo.h6">Extra's</MudText>
                            <MudSpacer />

                            <MudTable Items="@Reservation.Items" Dense=true Bordered=true Striped=true>

                                <HeaderContent>
                                    <MudTh>Naam</MudTh>
                                    <MudTh>Beschrijving</MudTh>
                                    <MudTh>Aantal</MudTh>
                                    <MudTh>Prijs</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Naam">@context.Product.Name</MudTd>
                                    <MudTd DataLabel="Beschrijving">@context.Product.Description</MudTd>
                                    <MudTd DataLabel="Aantal">@context.Quantity</MudTd>
                                    <MudTd DataLabel="Prijs">@string.Format("{0:F2}", context.Quantity * context.Price) €</MudTd>
                                    <MudTd>
                                        <MudButton @onclick="() => Reservation.Items.Remove(context)">
                                            <MudIcon Icon="@Icons.Material.Filled.Delete" />
                                        </MudButton>
                                    </MudTd>
                                </RowTemplate>

                            </MudTable>
                        </MudItem>
                    }
                    <MudGrid>
                        <MudItem xs="6" md="6">
                            <MudButton Variant="Variant.Filled" 
                            Color="Color.Primary" OnClick="ConfirmReservation" 
                            Type="ButtonType.Submit">Bevestigen</MudButton>
                        </MudItem>
                        <MudItem xs="6" md="6">
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary" OnClick="CancelEdit"
                                       Type="ButtonType.Submit">Annuleer</MudButton>
                        </MudItem>

                    </MudGrid>
                </MudForm>
            }
            else
            {
                <div>Loading...</div>
            }
        </MudContainer>
    </MudCardContent>
</MudPaper>


