@using MudBlazor
@using Blanche.Shared.Products
@using Blanche.Shared.Formulas

<EditForm Model="@reservationForm" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    @if (!Success && !Final)
    {
        <MudDateRangePicker Label="Gewenste periode" Editable="true"
                            @bind-DateRange="reservationForm.ReservationDates"
                            Color="Color.Tertiary"
                            Error="@(reservationForm.ReservationDates.Start == null || reservationForm.ReservationDates.End == null)"
                            ErrorText="Gelieve een start- en einddatum te selecteren."
                            AdditionalDateClassesFunc="@ShowPopularDates"
                            IsDateDisabledFunc="@DisableBookedDates" />
        <MudSelect T="FormulaDto.Index" Label="Formule" Placeholder="Kies je formule" @bind-Value="reservationForm.Formula"
                   Class="mt-10 mb-10" AnchorOrigin="Origin.BottomCenter" For="@(() => reservationForm.Formula)">
            @foreach (var item in formulas)
            {
                <MudSelectItem Value="@item">@(item.Name + " " + "(" + item.Description + ")")</MudSelectItem>
            }
        </MudSelect>
        @if (reservationForm.Formula != null && reservationForm.Formula.HasDrinks)
        {
            <MudText Style="font-size: small;" Color="@(reservationForm.NumberOfPersons != 0 && reservationForm.SelectedBeer == null ? Color.Warning : Color.Dark)">Welk type bier wenst u?</MudText>
            <MudRadioGroup @bind-SelectedOption="reservationForm.SelectedBeer"
                           Error="@(reservationForm.Formula.HasDrinks == true && reservationForm.SelectedBeer == null && reservationForm.NumberOfPersons != 0)"
                           ErrorText="Gelieve een biertype te selecteren."
                           Class="mb-5">
                @foreach (var beer in beers)
                {
                    <MudRadio Option="@beer">@beer.Name</MudRadio>
                }
            </MudRadioGroup>
        }
        <MudNumericField @bind-Value="reservationForm.NumberOfPersons" Label="Aantal personen" Placeholder="Aantal personen" Class="mb-12" Variant="Variant.Text" For="@(() => reservationForm.NumberOfPersons)" />
        @if (reservationForm.Items.Any())
        {
            foreach (var item in reservationForm.Items)
            {
                <MudChip Label="true" Color="Color.Transparent" OnClose="@(() => CloseChip(item))" Class="mb-6">@(item.QuantityOrdered + " x " + item.Name)</MudChip>
            }
        }
        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Tertiary" FullWidth="true" Href="/extras" Class="mx-auto mb-10">Kies extra materiaal</MudButton>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary"
                       Class="ml-auto mr-4" Style="width: 180px;" OnClick="@(() => Cancel())">Annuleer</MudButton>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                       Class="mr-auto ml-4" Style="width: 180px;">Bevestig</MudButton>
        </MudCardActions>
    }
    else if (Success && !Final)
    {
        <div class="d-flex">
            <div class="w-50 mr-16">
                <MudText Typo="Typo.h6"><b>Gekozen periode</b></MudText>
                <MudDateRangePicker Editable="true" @bind-DateRange="reservationForm.ReservationDates"
                                    Color="Color.Tertiary"
                                    Error="@(reservationForm.ReservationDates.Start == null || reservationForm.ReservationDates.End == null)"
                                    ErrorText="Gelieve een start- en einddatum te selecteren."
                                    AdditionalDateClassesFunc="@ShowPopularDates"
                                    IsDateDisabledFunc="@DisableBookedDates" />
            </div>
            <div Class="w-50">
                <MudText Typo="Typo.h6"><b>Gekozen formule</b></MudText>
                <MudSelect T="FormulaDto.Index" Label="Formule" Placeholder="Kies je formule" @bind-Value="reservationForm.Formula"
                           Class="mb-10" AnchorOrigin="Origin.BottomCenter" For="@(() => reservationForm.Formula)">
                    @foreach (var item in formulas)
                    {
                        <MudSelectItem Value="@item">@(item.Name + " " + "(" + item.Description + ")")</MudSelectItem>
                    }
                </MudSelect>
            </div>
        </div>
        <div class="d-flex">
            <div Class="w-50 mr-16">
                <MudText Typo="Typo.h6"><b>Gekozen aantal personen</b></MudText>
                <MudNumericField @bind-Value="reservationForm.NumberOfPersons" Variant="Variant.Text" For="@(() => reservationForm.NumberOfPersons)" />
            </div>
            <div Class="w-50">
                @if (reservationForm.Items.Any())
                {
                    <MudText Typo="Typo.h6"><b>Gekozen extra's</b></MudText>
                    foreach (var item in reservationForm.Items)
                    {
                        <MudChip Label="true" Color="Color.Transparent" OnClose="@(() => CloseChip(item))" Class="mt-5">@(item.QuantityOrdered + " x " + item.Name)</MudChip>
                    }
                }
            </div>
        </div>
        @if (reservationForm.Formula.HasDrinks)
        {
            <div class="d-flex mt-10">
                <div Class="w-50 mr-16">
                    <MudText Typo="Typo.h6"><b>Gekozen bier</b></MudText>
                    <MudRadioGroup @bind-SelectedOption="reservationForm.SelectedBeer"
                                   Error="@(reservationForm.Formula.HasDrinks == true && reservationForm.SelectedBeer == null && reservationForm.NumberOfPersons != 0)"
                                   ErrorText="Gelieve een biertype te selecteren."
                                   Class="mb-5">
                        @foreach (var beer in beers)
                        {
                            <MudRadio Option="@beer">@beer.Name</MudRadio>
                        }
                    </MudRadioGroup>
                </div>
                <div Class="w-50">
                    <MudText Typo="Typo.h5" Class="mt-10 mb-10"><b>@("Totaalprijs: " + totalPrice + " EUR (excl. 21% btw)")</b></MudText>
                </div>
            </div>
        }
        else
        {
            <MudText Typo="Typo.h5" Class="mt-10 mb-10"><b>@("Totaalprijs: " + totalPrice + " EUR (excl. 21% btw)")</b></MudText>
        }
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary"
                       Class="ml-auto mr-4" Style="width: 180px;" OnClick="@(() => Success = false)">Vorige</MudButton>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                       Class="mr-auto ml-4" Style="width: 180px;">Volgende</MudButton>
        </MudCardActions>
    }
</EditForm>

<style>
    .special-day {
        border: solid;
        border-color: rgba(215, 204, 200, 1) !important;
    }

    .already-booked {
        color: white !important;
        background-color: rgba(239, 83, 80, 0.8) !important;
    }

    .client-booked {
        color: white !important;
        background-color: rgba(251, 192, 45, 0.9) !important;
    }
</style>